.app__root {
	text-align: center;
	color: #333;
	font-family: serif;
}
.app__icon {
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
	color: #666;
	margin-top: 30px;
}
.app__logout {
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
	color: #666;
	margin-left: 10px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin: auto;
}
.app__logout:hover {
	opacity: 0.8;
}
button:disabled {
	color: #ccc;
	cursor: none;
}
h1 {
	color: #333;
}